@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .4);
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    background-color: white;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 0 20px rgba(255, 255, 255, .4);
    animation: bounce-in .3s forwards;
  }

  svg {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
    transition: all .3s;
    cursor: pointer;

    &:hover {
      color: var(--color-primary);
    }
  }
}