.footer {
  border-top: 1px solid #DDDFE6;

  svg {
    width: 12rem;
    height: 10rem;
    margin-right: 2rem;

    path {
      fill: var(--color-primary);
    }
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    
    p {
      margin: 0.5rem;
      color: #666;
    }
  }
}